@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

:root {
  --bg-main: #131722;
  --color-main: #fff;
  --light-bg: #24baef;
  --border-color: rgb(148, 156, 176);
}

body{
  background-color: var(--bg-main);
  color: var(--color-main);
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

.page-link:hover{
  background-color: transparent !important;
}
.page-active{
  background-color: transparent !important;
  box-shadow: none !important;
}

/* .page-link:focus{
  background-color: transparent !important;
} */